<h1>Thank you so much for contributing to this project!</h1>

<stream src="8b11f6607357c4b38678ebf9e8af00ce" controls autoplay></stream>
<script data-cfasync="false" defer type="text/javascript" src="https://embed.videodelivery.net/embed/r4xu.fla9.latest.js?video=8b11f6607357c4b38678ebf9e8af00ce"></script>

<p>Please consider sharing this book project with anyone you know who could benefit from an accessible yoga practice, and anyone who might feel inspired to contribute!</p>
<p>Stay in touch along the way; look out for updates and resources as the project progresses.</p>
<p><strong>Thank you again!!</strong></p>
<p>Graciously,</p>
<p><em>AB</em><br/><a href="www.beewell.yoga">beewell.yoga</a></p>