<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= @site_title %></title>
    
    <meta name="author" content="<%= @site_author %>">
    <meta name="description" content="<%= @site_description %>">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="<%= @site_title %>">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">

    <link rel="apple-touch-icon" sizes="120x120" href="https://can.<%= @site_address %>/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://can.<%= @site_address %>/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://can.<%= @site_address %>/favicon-16x16.png">
    <link rel="manifest" href="https://can.<%= @site_address %>/manifest.json">
    <meta name="application-name" content="<%= @site_title %>">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="csrf" content="<%= Plug.CSRFProtection.get_csrf_token() %>">
    
    <link rel="canonical" href="//<%= @site_address %>">
    <link rel="mask-icon" href="https://can.<%= @site_address %>/safari-pinned-tab.svg">
    <link href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css" rel="stylesheet" type="text/css" media="all">
    
    <style>
      a {color: #4ed888;}
      a:hover {color: #6ef8A8;}
      a:visited {color: #4ed888;}
      a[href^='mailto']::before {
        content: '💌 ';
      }
      body {text-align: center;background-color: #000000; color: #F5C962; 
        margin: 0;
        min-height: 100vh;
        -webkit-font-smoothing: antialiased;}
    </style>

    <script>
      // Load and register pre-caching Service Worker
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
          navigator.serviceWorker.register('/service-worker.js', {
            scope: '/',
          });
        });
      }
    </script>

  </head>
  <body>
    <zv-z appDescription="<%= @site_description %>" appAuthor="<%= @site_author %>" appTitle="<%= @site_title %>" appAddress="<%= @site_address %>" unresolved></zv-z>
    <noscript>
      <h1><%= @site_title %></h1>
      <h2>By <em><%= @site_author %></em></h2>
      <p><%= @site_description %></p>
      <pre>Made for <%= @site_address %></pre>
      <p><strong>Uses Javascript for content delivery, not for spying! Please whitelist this site to connect.</strong></p>
    </noscript>
    <!-- Load webcomponents-loader.js to check and load any polyfills your browser needs -->
    <script src="/webcomponents-loader.js"></script>
    <!-- Built with love using ZVZ -->
    <script type="module" src="z-v-z.js"></script>
  
  <footer style="font-size: .8em; line-height:1.618; border: 1px white solid; padding: 8px 20px;">
    <dl>
    <dt><strong>Yoga</strong><br/><em style="padding-left:10px;">yo·​ga | \ ˈyō-gə \</em></dt>
    <hr style="margin: 12px;">
    <dd style="margin: 2px 0 4px 0;">Hindu philosophy and belief system originating in India; using breath control, meditation, and physical discipline</dd>
    <dd style="margin: 2px 0 4px 0;">Exercise modality done with body weight on the floor</dd>
    <dd style="margin: 2px 0 4px 0;">Theraputic tool used in treatment of various conditions</dd>
    <dd style="margin: 2px 0 4px 0;">Lifestyle focused on present moment awareness, embodiment, mental clarity, and liberation</dd>
    </dl>
  </footer>
    <div style="margin:50px 0;">
    <a href="mailto:ayla@beewell.yoga">ayla@beewell.yoga</a>
    </div>
    
    <div style="margin: 50px 0 240px; line-height: 2.4em;">
    <h1><%= Money.new(@stripe_payments_total) %></h1>
    <p>out of <strong><%= Money.new(@fundraising_goal) %></strong> raised so far by</p>
    <h1><%= @backer_count %> backers</h1></div>
  </body>
</html>
