<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Bee Well Yoga</title>
    
    <meta name="author" content="Ayla Bee">
    <meta name="description" content="Ayla Benjamin is a creative visionary, experienced yoga teacher, meditation evangelist, prolific speaker, social justice driven entrepreneur, and lifelong student">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="<%= @site_domain %>">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">

    <link rel="apple-touch-icon" sizes="120x120" href="https://can.<%= @site_domain %>/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://can.<%= @site_domain %>/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://can.<%= @site_domain %>/favicon-16x16.png">
    <link rel="manifest" href="https://can.<%= @site_domain %>/manifest.json">
    <meta name="application-name" content="<%= @site_domain %>">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="csrf" content="<%= Plug.CSRFProtection.get_csrf_token() %>">
    
    <link rel="canonical" href="//<%= @site_domain %>">
    <link rel="mask-icon" href="https://can.<%= @site_domain %>/safari-pinned-tab.svg">
    <link href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body style="text-align: center;">
    
    <style>
    a[href^='mailto']::before {
      content: '💌 ';
    }
    </style>

  <main style="font-size: 1.2em; line-height:1.2;min-height:50vh;">
  <%= render @view_module, @view_template, assigns %>
  </main>
  
  <footer style="font-size: .8em; line-height:1.618; border: 1px white solid; padding: 8px 20px;">
    <dl>
    <dt><strong>Yoga</strong><br/><em style="padding-left:10px;">yo·​ga | \ ˈyō-gə \</em></dt>
    <hr style="margin: 12px;">
    <dd style="margin: 2px 0 4px 0;">Hindu philosophy and belief system originating in India; using breath control, meditation, and physical discipline</dd>
    <dd style="margin: 2px 0 4px 0;">Exercise modality done with body weight on the floor</dd>
    <dd style="margin: 2px 0 4px 0;">Theraputic tool used in treatment of various conditions</dd>
    <dd style="margin: 2px 0 4px 0;">Lifestyle focused on present moment awareness, embodiment, mental clarity, and liberation</dd>
    </dl>
  </footer>
    <div style="margin:50px 0;">
    <a href="mailto:ayla@beewell.yoga">ayla@beewell.yoga</a>
    </div>
    
    <div style="margin: 50px 0 200px;">
    <h1><%= Money.new(@stripe_payments_total) %></h1>
    out of <strong><%= Money.new(@fundraising_goal) %></strong> raised so far!</div>
  </body>
</html>
